//jQuery
script(src="/javascripts/jquery-2.1.0.min.js")
//Bootstrap
script(src="/javascripts/popper.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/bootstrap.bundle.min.js")
//Plugins
script(src="/javascripts/scrollreveal.min.js")
script(src="/javascripts/waypoints.min.js")
script(src="/javascripts/jquery.counterup.min.js")
script(src="/javascripts/imgfix.min.js")
script(src="/javascripts/mixitup.js")
script(src="/javascripts/accordions.js")
//Global Init
script(src="/javascripts/custom.js")