extends layout

block content
    section#call-to-action.section.section-bg(style="background-image: url(/images/banner-image-1-1920x500.jpg)")
        .container
          .row
            .col-lg-10.offset-lg-1
              .cta-content
                br
                br
                h2 404 <em>Error</em>
                p Bunday sahifa mavjud emas