extends layout

block content
    section#call-to-action.section.section-bg(style="background-image: url(/images/banner-image-1-1920x500.jpg)")
        .container
          .row
            .col-lg-10.offset-lg-1
              .cta-content
                br
                br
                h2 <em>Mualliflar</em> bilan tanishing
                p Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula

    section#trainers.section
        .container
            br
            br
            .row
                 each user, i in data
                    .col-md-3.col-sm-6
                        .trainer-item
                            .image-thumb: img(src=user.img)
                            .down-content
                                span=user.position
                                h4=user.name
                                p=user.desc