extends layout

block content
    section#call-to-action.section.section-bg(style="background-image: url(/images/banner-image-1-1920x500.jpg)")
        .container
          .row
            .col-lg-10.offset-lg-1
              .cta-content
                br
                br
                h2 <em>Mualliflar</em> bilan tanishing
                p Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula

    section#trainers.section
        .container
            br
            br
            .row
                .col-md-3.col-sm-6
                    .trainer-item
                        .image-thumb: img(src="/images/team-image-1-646x680.jpg")
                        .down-content
                            span CEO
                            h4 John Doe
                            p Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.
                            ul.social-icons
                                li: a(href="#"): i.fa.fa-facebook
                                li: a(href="#"): i.fa.fa-twitter
                                li: a(href="#"): i.fa.fa-linkedin
                                li: a(href="#"): i.fa.fa-behance
                .col-md-3.col-sm-6
                    .trainer-item
                        .image-thumb: img(src="/images/team-image-2-646x680.jpg")
                        .down-content
                            span Customer Support
                            h4 Jane Smith
                            p Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.
                            ul.social-icons
                                li: a(href="#"): i.fa.fa-facebook
                                li: a(href="#"): i.fa.fa-twitter
                                li: a(href="#"): i.fa.fa-linkedin
                                li: a(href="#"): i.fa.fa-behance
                .col-md-3.col-sm-6
                    .trainer-item
                        .image-thumb: img(src="/images/team-image-3-646x680.jpg")
                        .down-content
                            span Customer Support
                            h4 Kate Johnson
                            p Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.
                            ul.social-icons
                                li: a(href="#"): i.fa.fa-facebook
                                li: a(href="#"): i.fa.fa-twitter
                                li: a(href="#"): i.fa.fa-linkedin
                                li: a(href="#"): i.fa.fa-behance
                .col-md-3.col-sm-6
                    .trainer-item
                        .image-thumb: img(src="/images/team-image-4-646x680.jpg")
                        .down-content
                            span Customer Support
                            h4 Mark Green
                            p Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar imperdiet. Nunc consectetur.
                            ul.social-icons
                                li: a(href="#"): i.fa.fa-facebook
                                li: a(href="#"): i.fa.fa-twitter
                                li: a(href="#"): i.fa.fa-linkedin
                                li: a(href="#"): i.fa.fa-behance